<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" id="speech">
<!-- {{updateCountry()}} -->
<div class="row">
<div class="col-lg-12">
<h1 id="headline"> Talk to your device</h1>
<div id="info">
  <p id="info_start">Click on the microphone icon and begin speaking.</p>
  <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
  <p id="info_speak_now">Speak now.</p>
  <p id="info_no_speech">No speech was detected. You may need to adjust your
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
      microphone settings</a>.
   </p>
  <p id="info_no_microphone" style="display:none" >
    No microphone was found. Ensure that a microphone is installed and that
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
    microphone settings</a> are configured correctly.
   </p>  
  <p id="info_denied">Permission to use microphone was denied.</p>
  <p id="info_blocked">Permission to use microphone is blocked. To change,
    go to chrome://settings/contentExceptions#media-stream</p>
  <p id="info_upgrade">Web Speech API is not supported by this browser.
     Upgrade to <a href="//www.google.com/chrome">Chrome</a>
     version 25 or later.</p>
</div>
<div class="col-lg-7" id="results">
  <div id="start_button" ng-click="startButton($event)">
    <img id="start_img" src="assets/images/mic.gif" alt="Start"></div>
  <span id="final_span" class="final"></span>
  <span id="interim_span" class="interim"></span>
  <p>
</div>

<div class="center col-lg-7">
  <div class="sidebyside">
    <button class="btn btn-primary button" id="copy_button"  ng-click="copyButton()">Copy and Paste</button>
    <button class="btn btn-danger button"  id="email_button"  ng-click="emailButton()">Create Email</button>
  </div>
</div>  

<div class="col-lg-7" id="div_language">
    <select class="form-control input-lg select_custom" id="select_language" onchange="updateCountry()"></select>
 </div>
 <div class="col-lg-7" id="div_language">   
    <select class="form-control input-lg select_custom" id="select_dialect"></select>
  </div>
</div>

</div>

<footer class="footer">
  <div class="container">
      <p>konnectU enables you to keep in touch with your peer. |
        <a href="https://twitter.com/merumman">@merumman</a> |
         <a href="https://github.com/knofler/konnectU/issues">Issues</a></p>
  </div>
</footer>

