<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" id="chat">
	 <div class="col-md-12">

<h1> Chat</h1>

  <div id="buttons">
    <button id="sendButton"  ng-click="sendData()" ng-disabled="enableSendClose">Send</button>
  </div>

  <div id="sendReceive">
    <div id="send">
      <h2>Send</h2>
      <textarea id="dataChannelSend" ng-model="dataInputOutput" disabled placeholder="Press Start, enter some text, then press Send."></textarea>
    </div>
    <div id="receive">
      <h2>Receive</h2>
      <textarea id="dataChannelReceive" disabled></textarea>
    </div>
  </div>

  <p>View the console to see logging.</p>
</div>

</div>

<footer class="footer">
  <div class="container">
      <p>konnectU enables you to keep in touch with your peer. |
        <a href="https://twitter.com/merumman">@merumman</a> |
         <a href="https://github.com/knofler/konnectU/issues">Issues</a></p>
  </div>
</footer>


