#display_panel{
	padding: 10px;
}
.displaySection{
	border: 1px solid #ddd;
	width: 80%;
	padding: 10px;
	margin: 20px;
}
.svg{
	width: 100%;
	height:40%;
}
.rowcss{
	padding: 100px;
	background-color: blue;
}

.fig_span{
	text-align: center;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
.axis text {
  font: 10px sans-serif;
/*  -webkit-transform: rotate(-90deg);*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
