/* minimal CSS to get started with component. feel free to override in main.css */
audio-player .paused .play-text,
audio-player .pause-text {
    display:inline-block;
}
audio-player .play-text,
audio-player .paused .pause-text {
    display:none;
}
audio-player * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input.custSeeker{
	width: 200px;
}

#canvasBox{
	/*border:	1px solid #999;*/
	/*width: 50%;*/
	margin:	10px;
	/*min-height: 150px;*/
}

.sliderCtrl{
	display: block;
	clear: both;
}
#canvasText{
	padding: 5px;
	font-weight: bold;
	color: #888;
	font-size: 14px;
	display:block;
	clear: right;
}

#recordThis{
  border: 1px solid #ddd;
  /*background-color: red;*/
  display: block;
  clear: both;
  margin-left: -16px;
  height: 310px;
  padding-left: 20px;
  padding-top: 10px;
}

#play{
border: 1px solid #ddd;
/*background-color: blue;*/
display: block;
/*clear: both;*/
margin-left: -16px;
margin-bottom: 10px;
}
#status{
border: 1px solid #ddd;
/*background-color: green;*/
display: block;
margin-left: -16px;
margin-bottom: 10px;
}

#playAudio{
	margin-top: 10px;
	padding: 10px;
}
#gap{
	padding: 20px;
}